$textColor: #fff;
$secondaryTextColor: #000;

$areia-branca: #E6DAC2;  // Areia bem clarinha (versão 10% mais escura)
$agua-cristalina: #6CD4FF; // Azul bem tropical
$coqueiro-verde: #2E8B57;   // Verde da vegetação
$por-do-sol: #FF7F50;       // Coral do entardecer
$twilight-purple: #8A6FB8;
$purple: #4F2AC3;